.header {
    background-color: green;
}

.module-1 {
    background-color: green;
}

.module-2 {
    background-color: green;
}

.module-3 {
    background-color: green;
}

.call-to-action {
    background-color: green;
}

.footer {
    background-color: green;
}